html{
    height: 100%;
    width:100vw;
    font-family: sans-serif;
}

@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

/* // Firefox */
@-moz-document url-prefix() {
    body {
        box-sizing: border-box; 
        margin: 0;
        padding: 1px;
    }
}

body{
    border: rgb(54, 105, 243) solid 2px;
    display: flex; 
    height: 100%;
    background-color: rgb(247, 247, 247);

}
.image{
    background-color: rgb(255, 0, 0);
    width: 25vw;
    min-height: 100%;
}

img{
    object-fit: cover;
}

#logo-wrapper{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.466);
    width: 25vw;
    height: 12vh;
}

#logo{
    height: inherit;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ODIN{
    font-family: norse;
    color: white;
    font-size: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#icon{
    height: 90%;
}

#credit{
    position: absolute;
    bottom: 2%;
    color: rgba(240, 240, 240, 0.801);
    width: inherit;
    text-align: center;

}

input:focus{
    border: blue;
    box-shadow: 5px 5px 2px rgba(105, 105, 105, 0.288);
}

/* a::after{
    color:white;
} */

input:invalid {
    border: 1px solid red;
  }

/* input[type*="password"]:invalid + span::before{
    color:red;
} */

div>button{
    background-color:#596D48;
    width: 15em;
    left: 30%;
    color: white;
    padding: .9em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    box-shadow: 3px 3px 6px rgba(105, 105, 105, 0.288);
    margin-top: 2em;
    margin-left: 3%;
}

footer{
 /*    border: rgb(229, 255, 0) solid; */
}

.textContent{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
}

#homeText{
    margin-top: -9vh;
    margin-bottom: 3vh;
    font-size: 1.7em;
    font-weight: 600;
    margin-left: 3%;
    width: 60%;
}

h1{
    font-size: 1.7em;
    font-weight: 600;
}


div>.logIn{
    font-size: 1.1em;
    margin-top: 1em;
    padding-left: 3%;
}

.form{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    
    box-shadow:5px 5px 5px rgba(105, 105, 105, 0.288);
    width: inherit;
    display: flex;
    flex-direction: row;
    padding-left: 3%;

    border:rgba(230, 230, 230, 0.466) solid 1px;
}

form{
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow: hidden;
}

div.formRow{
    position: relative;
    padding-left: 2em;
}

label{
    position: absolute;
    font-size: .9em;
    letter-spacing: .1em;
}

input{
    align-self: center;
    margin: 2em 6em 2em 0;
    width: 18em;
    height: 2em;
    border-radius: 4px;
    border: rgb(184, 184, 184) solid 1px;
}

span{
    color: red;
    position:absolute;
    margin-top: 4em;
}